
/* COMMON */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@keyframes loading {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

:root {
  --fm-black: #201c1b;
  --fm-gray: #4b4442;
  --fm-lightgray: #847c7a;
  --fm-white: #f2f2f2;
  --primary-color: #c23616;
  --righter-primary: #e84118;
}

* {box-sizing: border-box;}

body {
  color: var(--fm-white);
  font-family: 'Pretendard-Regular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--fm-black);
}

a,a:active,a:link,a:hover,a:visited {
  color: inherit;
  text-decoration: none;
}

input{
  background: none;
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

.loading{
  display: block;
  width: 60px;
  height: 60px;
  margin: auto;
  border: 7px solid var(--primary-color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading 1.8s linear infinite;
}


/* MAIN */

#wrap {
  margin: 0 auto;
  max-width: 1420px;
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    transition: all .4s;
    
    h1 {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      
      a {
        display: flex;
        align-items: center;
        font-size: 55px;
        letter-spacing: -2px;
        font-weight: 800;

        .logo {
          width: 55px;
          margin-right: 10px;

          img {
            display: block;
            width: 100%;
          }
        }//.logo
      } //a
    } //h1

    form {
      display: flex;

      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: none;
        outline: none;
        border: none;

        padding: 0 15px 0 10px;
        color: #201c1baa;
        background-color: var(--fm-white);
        border: 2px solid var(--primary-color);
        border-right: none;
      }

      input[type="text"] {
        padding: 0 15px;
        min-width: 400px;
        height: 40px;
        color: var(--fm-black);
        background-color: var(--fm-white);
        border: 2px solid var(--primary-color);
        border-right: none;
        border-left: none;
      }
      
      button {
        padding: 0 10px;
        height: 40px;
        color: inherit;
        background-color: var(--primary-color);

        &:hover {
          background-color: var(--righter-primary);
        }
      }
    } //form
  } //main
  
  .movies {
    padding: 15px 0;

    .loading {
      display: none;
      margin: 20px auto;
    }

    h3 {
      text-align: center;
      line-height: 80px;

      span {
        color: var(--primary-color);
        margin-right: 5px;
        font-size: 18px;
        font-weight: 600;
      }
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 40px;
      row-gap: 80px;
  
      li {
        position: relative;
        width: 250px;
        overflow: hidden;
        transition: transform .2s;

        &:hover {
          transform: scale(1.03);
        }
  
        a {
  
          .poster {
            width: 250px;
            height: 380px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
  
          .info {
            position: absolute;
            bottom: 0;
            padding: 35px 10px 15px;
            width: 250px;
            height: 100px;
            background: linear-gradient(#00000000,#000000aa,#000000dd,#000000);
            // transform: translateY(100px);
            transition: transform .4s;
  
            .year {
              display: block;
              margin-bottom: 10px;
              // color: var(--fm-lightgray);
            }
  
            .title {
              display: block;
              font-size: 20px;
              word-break: keep-all;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }//a
      }//li
    }//ul

    button.material-symbols-outlined {
      display: block;
      margin: 80px auto 50px;
      width: 50px;
      height: 50px;
      background-color: var(--primary-color);
      border: 1px solid #000;
      border-radius: 50%;
      transition: background-color .1s;

      &:hover {
        background-color:var(--righter-primary);
      }
    }
  }//.movies
} //wrap



/* 상세정보창 */

aside {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;

  .movie{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 800px;
    height: 500px;
    background-color: var(--fm-gray);
    border-radius: 8px;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.4);
    
    .loading{
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-30px, -30px);
    }

    .poster {
      width: 300px;
      height: 430px;
      border-radius: 5px;
      background-color: var(--fm-white);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3);
    }

    .info {
      padding: 20px;
      width: 400px;
      height: 430px;

      h2{
        font-size: 36px;
        font-weight: 600;
      }

      .flex-box {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .rated {
          letter-spacing: 2px;
          white-space: nowrap;
        }

        .released {
          color: var(--fm-lightgray);
        }
      }

      .genre {
        margin: 15px 0 8px;
      }

      .run-time {
        margin-bottom: 20px;
      }

      .director,.writer,.actors {
        font-size: 12px;

        span {
          color: var(--fm-lightgray);
          line-height: 1.4;
        }
      }

      p {
        margin-top: 20px;
        line-height: 1.2;
      }
    }
  }
}